body {
  padding: 0;
  text-align: center;
}
#myAudio {
  display: none;
}

#game-intro {
  padding: 20px 0px;
}
#start-button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#easy-button {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#medium-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
#hard-button {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#playButton {
  position: absolute;
  top: 110%;
  left: 2%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 10px;
}

#pauseButton {
  position: absolute;
  top: 110%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 10px;
}


#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}
#stats-container{
  z-index: 1;
  position: absolute;
  color: #fff;
  text-align: left; 
  left: 20%;
  

}
.stats-container p{
  color: #fff ;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/bg.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 1000px 0px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: -100px 0px;
  }
}

#game-end {
  display: none;
}
#game-won {
  display: none;
 
}
.game-won p{
  z-index: 1; 
  top: 10%;
  position: absolute;
  color: #161414;
  
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  position: absolute; /* Position the button relative to the container */
  top: 80%; /* Position the button vertically in the middle */
  left: 50%; /* Position the button horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  z-index: 1; /* Set a higher z-index to make the button appear on top of the image */
  color: #fff; /* Button text color */
}
.image-container {
  position: relative; /* Make the container a positioning context */
  display: inline-block; /* Allows the container to fit its content */
}


.logo-img {
  max-width: 150%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Maintain the image's aspect ratio */
}


.arrows-img {
  width: 150px;
}

body button {
  position: absolute; /* Position the button relative to the container */
  top: 80%; /* Position the button vertically in the middle */
  left: 50%; /* Position the button horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the button perfectly */
  z-index: 1; /* Set a higher z-index to make the button appear on top of the image */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  width: 150px;
}
